body#pageRegister {
    background-image: url("/images/16.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;

    .card {
        background-color: rgba(230, 233, 230, 0.8);
    }
}
